.hidden{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
    color: black;
    display: flex;
    flex-direction: center;
    align-items: center;
  
}
